<!DOCTYPE html>
<html>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="sprioCtrl"> 
<button name="sprioReading" ng-click="isSprioDisplayed = !isSprioDisplayed;showSprio()">Show Sprio Reading</button> 
<button name="showLog" ng-click="isLogDisplayed = !isLogDisplayed;showLog()">Show Log</button> 
<button name="showAQM" ng-click="isAqmDisplayed = !isAqmDisplayed;showAQM()">Show AQM</button>
<button name="showAll" ng-click="isAqmDisplayed = !isAqmDisplayed;isLogDisplayed = !isLogDisplayed;isSprioDisplayed = !isSprioDisplayed;showAQM();showLog();showSprio()">Show All</button> 
<br>
<br>
<table ng-show="isSprioDisplayed">
<tr>
    <td>Index</td>
    <td>Id</td>
    <td>Reading</td>
	<td>Synced</td>
    <td>Timestamp</td>
	<td>TimeOfDay</td>
    <td>CreatedAt</td>
  </tr>
  <tr ng-repeat="x in sprio">
    <td>{{ $index + 1 }}</td>
    <td>{{ x.id }}</td>
    <td>{{ x.reading }}</td>
	<td>{{ x.synced }}</td>
    <td>{{ x.timestamp }}</td>
	<td>{{ x.timeOfDay }}</td>
    <td>{{ x.createdAt }}</td>
  </tr>
</table>
<br>
<table ng-show="isLogDisplayed">
<tr>
    <td>Index</td>
    <td>Id</td>
    <td>Type</td>
	<td>Synced</td>
    <td>Timestamp</td>
	<td>Extras</td>
    <td>CreatedAt</td>
  </tr>
  <tr ng-repeat="x in log">
    <td>{{ $index + 1 }}</td>
    <td>{{ x.id }}</td>
    <td>{{ x.type }}</td>
	<td>{{ x.synced }}</td>
    <td>{{ x.timestamp }}</td>
	<td>{{ x.extras }}</td>
    <td>{{ x.createdAt }}</td>
  </tr>
</table>
<br>
<table ng-show="isAqmDisplayed">
<tr>
    <td>Index</td>
    <td>Id</td>
    <td>Large Value</td>
	<td>Small Value</td>
	<td>Synced</td>
	<td>User Id</td>
	<td>Device Id</td>
	<td>Date Field</td>
	<td>Geo Latitude</td>
	<td>Geo Longitude</td>
    <td>Geo Method</td>
    <td>CreatedAt</td>
  </tr>
  <tr ng-repeat="x in aqm">
    <td>{{ $index + 1 }}</td>
    <td>{{ x.id }}</td>
    <td>{{ x.largeValue }}</td>
	<td>{{ x.smallValue }}</td>
	<td>{{ x.synced }}</td>
    <td>{{ x.user_id }}</td>
	<td>{{ x.device_id }}</td>
	<td>{{ x.date_field }}</td>
	<td>{{ x.geo_latitude }}</td>
	<td>{{ x.geo_longitude }}</td>
	<td>{{ x.geo_method }}</td>
    <td>{{ x.createdAt }}</td>
  </tr>
</table>


</div>

<script>
var app = angular.module('myApp', []);

app.controller('sprioCtrl', function($scope, $http) {
$scope.showSprio = function() {
    $http.get("http://localhost:8080/aqmrestservices/rest/aspira/GetSprioReading")
    .then(function (response) {$scope.sprio = response.data.Sprioreading;});
	}
	$scope.showLog = function() {
    $http.get("http://localhost:8080/aqmrestservices/rest/aspira/GetLogs")
    .then(function (response) {$scope.log = response.data.Logs;});
	}
	$scope.showAQM = function() {
    $http.get("http://localhost:8080/aqmrestservices/rest/aspira/GetAQMreading")
    .then(function (response) {$scope.aqm = response.data.AqmReadings;});
	}
});


</script>

</body>
</html>
